
/* small mobile :320px.(xs) */
@media (max-width: 767px) {
  main {
    max-width: 500px;
    margin: 70px auto 15px;
}
}

/* Tablet & ALL desktop :min-768px. (md,lg,xl) */
@media (min-width: 768px) {
  main {
    max-width: 600px;
    margin: 70px auto 15px;
}
}
