/* My Profile page responsive style =================================== */
/* small mobile :320px.(xs) */
@media (max-width: 767px) {
  main {
    max-width: 500px;
    margin: 70px auto 15px;
}
}
@media (min-width: 768px) {
  main {
    max-width: 600px;
    margin: 70px auto 15px;
}
}